<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- define Z-segments examples -->
    <add key="ZS1" value="Service ID [SI] | Service type [CE] | Service location [XAD] | Servive time [TS] | Note [ST]"/>
    <add key="ZL1" value="Address [XAD] | Building [ST] | Level [ST] | Room [ST]*"/>
    <add key="ZL2" value="Location [MYDT] | Note [ST] "/>  <!-- this Z-segment uses a custom data-type 'MYDT' defined below -->

    <!-- define custome data-type example. NOTE - Standard defined data-type overrides custom if DT name clashes -->
    <add key="MYDT" value="Building | Level | Room number | Shelf number"/>
    
    <!--define encoding if it's for a different language 
    <add key="encoding" value="windows-1251" />
    -->
  </appSettings>
</configuration>
