<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="server0" value="Optional label, eg &lt;HL7 listener #1&gt;	localhost	8032	Y	10	N" />
    <add key="server1" value="Optional label, eg &lt;HL7 listener #1&gt;?	localhost	8031	Y	10	N" />
    <add key="server2" value="Optional label, eg &lt;HL7 listener #1&gt;?	localhost	3050	Y	10	N" />
    <add key="server3" value="Optional label, eg &lt;HL7 listener #1&gt;?	localhost	7502	Y	10	N" />
    <add key="server4" value="Optional label, eg &lt;HL7 listener #1&gt;?	localhost	2001	Y	10	N" />
  </appSettings>
</configuration>